body {
     margin: 0;
     width: max-content;
 }
 .header__block_title,
 .price,
 .header__block_text,
 .container .title {
     font-family: "Raleway";
 }

 a,
 .position,
 .texte_gray,
 .text_comm,
 .button_download,
 .header__block_signap_title,
 .header__block_signap_btn,
 h2, .brand_box_text,
 .control,
 p,
 .button_download_features,
 .box_text,
 .basic 
 {
     font-family: 'Open Sans', sans-serif
 }
 .navbar {
     /* стили для меню навбара  */
     display: flex;
     flex-direction: row;
     background-color: black;
     height: 70px;
     min-width: 100vw;
     justify-content: space-between;
 }

 .navbar__img {
    padding: 20px 0px 20px 0px;
    margin-left: 150px;
 }

 .navbar__title {
     display: flex;
     flex-direction: row;
     align-self: center;
     justify-content: space-between;
     width: 450px;
    margin-right: 139px;
 }

 .navbar__title a {
     font-size: 14px;
     color: rgba(255, 255, 255, 0.69);
     line-height: 1.2;
     text-decoration: none;
     padding-right: 10px;
 }

 .navbar__title nav>a:link {
     /* стили для кнопоко меню навбара */
     text-decoration: none;
     color: rgba(255, 255, 255, 0.69)
 }

 .navbar__title nav>a:visited {
     text-decoration: none;
     color: rgba(255, 255, 255, 0.69)
 }

 .navbar__title nav>a:hover {
     text-decoration: underline;
     color: rgb(255, 255, 255);
     transition: 0.4s
 }

 .navbar__title nav>a:active {
     text-decoration: none;
     color: #ff8126
 }

 .header {
     /* стили для второго блока header */
    box-sizing: border-box;
    background: no-repeat url(../images/Header_Panel.png);
    background-size: cover;
    height: 642px;
    padding: 110px 0 0 0;
    background-position-y: center;
 }
.wrappers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 147px 0 150px;
}
.header .wrappers {
margin: 0 149px 0 150px;
}
/* .header .wrappers .one {
    padding: 0;
} */
 .header .header__block .one, .two {
     height: min-content;
     max-width: 360px;
     width: 50%;
 }
 .header .one {
    min-width: 420px;
    max-width: 520px;
 }

 .header__block_signap {
     /* блок ввода своих данных */
     margin-top: 30px;
     min-width: 200px;
 }
 .header__block_signap_title {
    font-size: 20px;
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    padding: 15px 7px 15px 0;
    background-color: #f5f5f5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-right: 4px;
    }
.free {
    /* оранжевый цвет для текста фри в титле сигнапа */
    color: #fca667
}

 .header__block_signap_input {
     display: flex;
     flex-direction: column
 }

 .header__block_title {
     font-size: 36px;
     color: rgb(255, 255, 255);
     line-height: 1.2;
     text-align: left;
     margin-top: 22px;
     margin-left: -3px;
 }
 .header form .button_download {
    margin-left: 1px;
 }

 .header__block_divider {
     margin: 27px 0 21px -4px
 }

 .header__block_text {
     font-size: 16px;
     color: rgba(255, 255, 255, 0.8);
     line-height: 1.438;
     text-align: left;
     FONT-WEIGHT: 300
 }

 .button_download {
     /* кнопка скачать  */
     border: none;
     font-size: 15px;
     FONT-WEIGHT: 600;
     color: rgb(255, 255, 255);
     line-height: 1.2;
     background: url(../images/Download_Button_Header.png);
     width: 135px;
     height: 42px;
     margin-top: 41px;
     padding: 0;
     outline: none
 }

 .button_download:hover {
     text-decoration: none;
     background-color: rgba(255, 255, 255, 0.1);
     transition-duration: 0.4s
 }
 input {
     box-sizing: border-box;
     border: none;
     border-bottom: solid 1px rgb(189, 189, 189);
     width: 80%;
     font-size: 12px;
     padding: 10px;
     outline: none
 }

 input::placeholder {
     color: rgb(189, 189, 189);
     font-size: 1.2em
 }

 .header__block_signap_input {
     box-sizing: border-box;
     align-items: center;
     height: 254px;
     justify-content: space-around;
     background-color: #ffffff;
     padding: 4px 0 32px
 }

 .header .header__block_signap_btn {
     /* кнопка для старта сигнапа */
     border: none;
     font-size: 15px;
     FONT-WEIGHT: 600;
     color: rgb(255, 255, 255);
     background: #ff9b51;
     width: 100%;
     height: 54px;
     padding: 0px;
     outline: none;
     border-bottom-left-radius: 4px;
     border-bottom-right-radius: 4px;
  }

 .header__block_signap_btn:hover {
     text-decoration: none;
     background-color: #ff801f;
     transition-duration: 0.4s
 }

 .brand_bar {
     /* третьи блок с иконками брендов */
     box-sizing: border-box;
     height: 104px;
     padding: 18px 0px 20px 0px;
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
     position: relative;
 }
 .brand_bar .wrappers {
    margin: 0 130px 0 153px;
 }

 .brand_box1 {
     width: 364px;
     min-width: 271px;
 }

 .brand_box1 h2 {
     font-size: 20px;
     color: rgb(51, 51, 51);
     font-weight: bold;
     margin: 0;
     margin-bottom: 3px;
    margin-top: -2px;
    margin-left: -2px;
 }

 .brand_box1 .brand_box_text {
     font-size: 14px;
     color: rgb(134, 135, 139);
     line-height: 1.429
 }

 .brand_box2 {
    align-self: center;
    width: 636px;
    margin-right: 37px;
 }

 .a,
 button,
 .header__block_signap_btn:hover {
     /* палец вверх на кнопки */
     cursor: pointer
 }

 .social_links_element {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     max-width: 635px;
 }

 .social_links_element i {
     display: block;
     font-size: 48px;
     font-family: "FontAwesome";
     color: rgb(204, 204, 204);
     font-style: normal;
     line-height: 1.2;
     text-decoration: none
 }

 .social_links_element i:hover {
     color: #ff801f;
     text-decoration: none;
     transform: scale(1.2);
     transition: 0.4s;
     text-decoration: none
 }

 a {
     text-decoration: none
 }

 .features {
        /* третьи блок с текстом и 3 табами и картинкой */
    box-sizing: border-box;
    background-color: #f5f5f5;
    height: 595px;
    padding-top: 132px;
 }
 .features .wrappers {
    margin: 0px 147px 0 142px;
 }
 .features .wrapper_tab_1 {
    margin-top: 20px;
 }
 .features .wrapper_tab_1 .title {
     text-align: start;
 }
 .features .wrapper_tab_1 .text p{
    font-size: 13px;
    line-height: 1.429;
}

.features .first {
     display: flex;
     flex-direction: row;
     height: 334px;
     padding: 0px
 }

 .control {
     display: flex;
     width: 112px;
     height: 112px;
     align-items: center;
     justify-content: center;
     background-color: #333333;
     color: #ffffff;
     font-size: 15px;
     font-weight: bold;
     line-height: 1.333;
     box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);

 }

 .features .container {
     margin-left: 100px;
     max-width: 473px;
     min-width: 260px;
 }

 .title p {
     font-size: 20px;
     color: rgb(0, 0, 0);
     font-weight: bold;
     line-height: 1.2;
     margin-bottom: 50px;
     margin-top: 10px
 }

 .text p {
     font-size: 14px;
     color: rgb(134, 135, 139);
     line-height: 1.429;
     margin-bottom: 30px;
     text-align: justify
 }

 .button_download_features {
     /* кнопка скачать в 3 блоке */
     border: none;
     font-size: 15px;
     FONT-WEIGHT: 600;
     color: rgb(255, 255, 255);
     line-height: 1.2;
     background: #ff8b38;
     width: 121px;
     height: 46px;
     padding: 0px;
     outline: none;
     border-radius: 4px;
     box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
     margin-top: 16px;
 }

 .button_download_features:hover {
     background-color: #ff8126
 }

 .tab_1:hover,
 .tab_2:hover,
 .tab_3:hover {
     background-color: #ff8b38
 }

 .wrappers .second img {
    max-width: 100%;
    min-width: 150px;
}
 .our_process {
    height: 592px;
    background-color: white;
    margin-bottom: -100px;
 }
 .our_process .wrappers {
     display: block;
     margin: 0 140px 0 141px;
 }

 .container .title {
     font-size: 36px;
     color: rgb(33, 33, 33);
     line-height: 1.194;
     text-align: center;
 }

 .circle {
     justify-content: center;
     align-items: center;
     display: flex;
     border: 2px solid #ff8b38;
     border-radius: 70px;
     width: 67px;
     height: 67px
 }

 .container_box {
    max-width:355px
 }
 .title_text, .box_text {
     font-size: 14px;
     color: rgb(134, 135, 139);
     line-height: 1.429;
     text-align: center
 }

 .wrapper_box .container_box>* {
     display: flex;
     flex-direction: row;
     justify-content: center;

 }

 .wrapper_box .box_title {
     font-size: 20px;
     color: rgb(51, 51, 51);
     font-weight: bold;
     line-height: 1.2;
     padding-top: 5px;
 }
 .wrapper_box .box_text {
    padding-top: 2px;
}

 .our_process .container {
    margin: 100px 0 78px 0;
    min-width: 400px;
 }

 .pricing {
     /* начало контейнера ПРисинн*/
     height: 883px;
     background-color: #f5f5f5;
 }
.pricing .wrappers {
    display: block;
    margin: 0 137px 0 138px;
}
 .pricing .container {
     padding-top: 100px;
      min-width: 400px;
 }
 .box_text p {
    margin: 0px;
    min-width: 200px;
 }
 .wrapper_box {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: flex-end;
 }
.pricing .box {
    max-width: 359px;
    width: 100%;
}
.pricing .wrapper_box {
    margin-top: 56px;
}


 .wrapper_box li {
     height: 40px;
     text-align: center;
     margin-bottom: 1px;
     padding-top: 8px;
     box-sizing: border-box;
     width: 100%;
     max-width: 343px;
 }
 .wrapper_box ul {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .box ul .basic {
     font-size: 20px;
     color: rgb(255, 255, 255);
     font-weight: bold;
     background-color: #333333;
     height: 60px;
     padding-top: 16px;
     margin: 0px;
 }

 .box ul .price {
     font-size: 91px;
     color: rgb(255, 255, 255);
     font-weight: bold;
     line-height: 0.686;
     text-align: center;
     background-color: #333333;
     height: 100px;
     padding-top: 20px;
     padding-left: 6px;
 }
 .box ul span {
     font-size: 31px;
 }

 .box ul .text_comm {
     font-size: 14px;
     color: rgba(255, 255, 255, 0.502);
     line-height: 1.714;
     background-color: #333333;
     height: 55px;
     padding-top: 11px;
     padding-right: 4px;
 }

 .texte_gray {
     font-size: 14px;
     color: rgb(134, 135, 139);
     text-transform: uppercase;
     line-height: 1.714;
     text-align: center;
     background-color: white
 }

 .box ul .texte_gray:hover {
     color: white;
     background-color: #ff8b38;
     cursor: pointer;
     transition-duration: 0.2s;
     transform: scale(1.03)
 }
 

 .testimonials .container:first-child {
     /* седьмой блок с отзывами*/
     min-width: 400px;
     margin: 100px auto 56px
 }
 .wrapper_comment p {
     margin: 0px;
     line-height: 17px;
 }

 .testimonials .wrappers {
    display: block;
    margin: 0px 171px 0px 171px;
 }

 .testimonials .comment {
     max-width: 273px;
     min-width: 200px;
 }

 .testimonials .photo_fio {
     display: flex;
     flex-direction: row
 }

 .testimonials .container:last-child {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     margin-bottom: 97px;
 }

 .container .wrapper_comment {
     background: no-repeat url(../images/background_comment.png);
     padding: 20px 10px 40px 10px;
     margin-bottom: 8px;
     font-size: 14px;
     font-family: "OpenSans", sans-serif;
     color: rgb(134, 135, 139);
     line-height: 1.2;
     font-style: italic
 }
 
 .container .wrapper_photo {
 margin-left: 2px;
 }
 .container .fio p {
    font-size: 20px;
    font-family: "OpenSans", sans-serif;
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.2;
    margin: 13px 0 4px 13px;
    letter-spacing: 1px;
 }


 .container .name {
     font-size: 20px;
     color: rgb(51, 51, 51);
     font-weight: bold;
     line-height: 1.2
 }

 .container .position {
     font-size: 14px;
     color: rgb(134, 135, 139);
     line-height: 1.2;
     margin-left: 15px;
 }

 .custom_section {
     /* седьмой блок с фоновой картинкой и кнопкой скачать*/
     background: url(../images/Custom-Panel.png);
     height: 320px;
 }
.custom_section .button_download {
    margin: 18px 0 0;
}
.custom_section form {
    min-width: 650px;
}
 .custom_section .container {
     padding-top: 67px;
     color: white;
     min-width: 650px;
 }

 .custom_section .title {
     color: white;
 }

 .custom_section form {
     display: flex;
     justify-content: center;
 }

 .custom_section .title_text {
    font-size: 15px;
    letter-spacing: 0.02em;
 }

.contact .container {
    margin: 0px 140px 84px 139px;
    align-items: center;
    margin-top: 100px;
    min-width: 400px;
}

 .contact__items {
     display: flex;
     justify-content: space-between;
     margin-top: 70px;
     }
 .contact_items-name {
     display: flex;
     flex-direction: column ;
     line-height: 40px;
     width: 50%;
     padding-right: 70px;
     
 }
 .contact_items-name > input {
    line-height: 38px;
    width: 100%;
    margin-bottom: 14px;
    font-size: 12px;
    padding: 0;
    padding-left: 14px;
    padding-top: 6px;
 }
 .contact_items_message p {
    color: rgba(128, 128, 128, 0.534);
    width: 285px;
    font-size: 14px;
    padding-left: 12px;
 }
.contact_items_message {
    width: 50%;
}
 .contact__items_comment {
    height: 120px;
     outline: none;
     border: none;
     font-size: 20px;
     resize: none;
    width: 100%;
 }
 
 .contact__btn {
     display: flex;
     justify-content: center;
     padding-left: 3px;
}
.contact .button_download_features {
    width: 146px;
    margin-top: 26px;
    height: 44px;
}
.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    height: 100px;
    justify-content: center;

   
}
 .footer .social_links_element i {
    display: block;
    font-size: 23px;
    font-family: "FontAwesome";
    color: rgb(204, 204, 204);
    font-style: normal;
    line-height: 1.2;
    text-decoration: none;    
}
 

.social_links_element i:hover {
    color: #ff801f;
    text-decoration: none;
    transform: scale(1.2);
    transition: 0.4s;
    text-decoration: none
}
.footer__2015 {
    color: rgba(255, 255, 255, 0.502); 
    font-size: 12px; 
    font-family: "OpenSans"; 
    line-height: 1.2;
}



@media screen and ( max-width: 1000px ) {
    .wrapper_box { zoom: 0.7;}
    }